<%= form_for(@url) do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= "URL" %><br>
    <%= f.text_field :url_text %>
  </div>
  <div class="field">
    <%= f.label :datetime_added %><br>
    <%= f.datetime_select :datetime_added %>
  </div>
  <%= f.hidden_field :doi_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
