<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @url.url_text %>
</p>

<p>
  <strong>Datetime added:</strong>
  <%= @url.datetime_added %>
</p>

<p>
  <strong>Doi ID:</strong>
  <%= @url.doi_id %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
