<p id="notice"><%= notice %></p>

<p>
  <strong>DOI ID:</strong>
  <%= @doi.id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @doi.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @doi.description %>
</p>

<p>
  <strong>Created By:</strong>
  <%= User.find(@doi.user_id).email %>
</p>

<p>
  <strong>URL:</strong>
  <%= @doi.urls.last.url_text %>
  <%= link_to 'Go To Resource', @doi.urls.last.url_text, class: "btn btn-success" %>
</p>

<%= link_to 'View URL History', urls_path(@doi) %> |
<%= link_to 'View Comments', comments_path %> |
<%= link_to 'Edit', edit_doi_path(@doi) %> |
<%= link_to 'Back', dois_path %>
